* { 
    margin: 0;
    padding: 0;
}

.container_hero {
    display: flex;
}

.container_hero_contentName {
    width: 50%;
    background-color: #FF9ACC;
}

.container_hero_contentIntro {
    width: 50%;
    background-color: #FF19A4;

}

h1 { 
    font-family: 'Shrikhand', serif;
}

h2 {
    font-family: 'Space Grotesk', sans-serif;
}

a {
    text-decoration: none;
    color: #000000;
    font-family: 'Space Grotesk', sans-serif;
}

.contentIntro_leadText {
    font-family: 'Space Grotesk', sans-serif;
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: 700;
}

.contentIntro_noteText {
    font-family: 'Space Grotesk', sans-serif;
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 700;
}
