* { 
    margin: 0;
    padding: 0;
}

.container_hero {
    display: flex;
}

.container_hero_contentName {
    width: 50%;
    background-color: #FF9ACC;
}

.container_hero_contentIntro {
    width: 50%;
    background-color: #FF19A4;

}

h1 { 
    font-family: 'Shrikhand', serif;
}

h2, p {
    font-family: 'Space Grotesk', sans-serif;
}

a {
    text-decoration: none;
    color: #000000;
    font-family: 'Space Grotesk', sans-serif;
}
