* { 
    margin: 0;
    padding: 0;
}

.container_hero {
    display: flex;
    height: 100vh;
}

.container_hero_contentName {
    width: 50%;
    background-color: #ffffff;
    padding: 3.125rem;
}

.container_hero_contentIntro {
    width: 50%;
    background-color: #ff19a4;
    padding: 3.125rem;
}

h1 { 
    font-family: 'Shrikhand', serif;
    font-size: 5.9rem;
    color: #ff19a4;
}

h2 {
    font-family: 'Space Grotesk', sans-serif;
}

a {
    text-decoration: none;
    color: #000000;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 3.34rem;
}

ul { 
    list-style: none; 
}

.mainNav ul {
    display: flex;
    justify-content: space-between; 
}

.contentIntro_leadText {
    font-family: 'Space Grotesk', sans-serif;
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2rem;;
}

.contentIntro_noteText {
    font-family: 'Space Grotesk', sans-serif;
    color: #000000;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 15rem;
}

.container_selectedProjects__content {
    display: flex;
    height: 100vh;
    background-color: #000000;   
}

.container_selectedProjects__content img {
    width: 50%;
    object-fit: cover;
}

.selectedProjects__info {
    padding: 3.125rem;
}

.selectedProjects__info h2 {
    color: #ffffff;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.selectedProjects__info a {
    color: #ffffff;
    font-size: 1.5rem;
}

.ewebproject__animation__wrapper {
    background-color: #ff19a4;
    padding: 10rem;
    margin-left: auto;
    margin-right: auto;
}

.animation__content {
    position: relative;
}

.animation__content img {
    width: 50rem;
    transition: transform 0.5s ease;
}

.animation__content:hover img {
    transform: rotate(-5deg);
}

.animation__text {
    position: absolute;
    right: 0;
    top: 50%;
    width: 22rem;
    transform: translateY(-50%);
}

.animation__text h2 {
    font-size: 5rem;
}

.container_aboutme__wrapper {
    background-color: #000000;
}

.container_aboutme__wrapper h2, p {
    color: #ffffff;
}

.changingText {     
    height: 100vh;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.changingText p {     
    padding: 5rem;
    font-family: 'Shrikhand', serif;
    font-size: 5.9rem;
    color: #ff19a4;
}

.changingText_altText {
    padding: 5rem;
    font-family: 'Shrikhand', serif;
    font-size: 5.9rem;
    color: #5619ff;
}
